# Ваши данные тг приложения
TG_APP_ID=123456
TG_APP_HASH=your_api_hash_here
TG_APP_PHONE=+79990000000

# НЕ ТРОГАТЬ, БД ВШИТА В КОНТЕЙНЕР ЭТО ДЛЯ НЕЁ!!!!
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=telescrap
DB_PORT=5432
DB_SSLMODE=disable

# И ЭТО ТОЖЕ!!!!!
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=telescrap
